html {
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #008b8b;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

main {
  flex-grow: 1;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.js-mode {
  width: 100px;
  top: 7px;
  right: -150px;
  background-color: #008b8b;
}

.dark {
  background-color: #0c0c41;
}
